@import "./normalize.css";

$primary-color: green;

html, body {
  height: 100%;
}
.app-container {
  display: flex;
  height: 100%;
}

h1 {
  color: $primary-color;
}

ul {
  width: 100%;
  padding: 0 40px;
}
li.task {
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;

  input[type="checkbox"]:checked + label {
    text-decoration: line-through;
  }
  input[type="checkbox"]:focus + label {
    background-color: yellow;
  }
  label {
    padding: 10px;
    margin-left: 10px;
    display: inline-block;
    width: 75%;
  }
}

#new-task-input {
  position: relative;
  padding: 10px;
  width: 480px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}
